/*全体系*/

html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Hiragino Kaku Gothic Pro", "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3", Meiryo, ãƒ¡ã‚¤ãƒªã‚ª, Osaka, "MS PGothic", arial, helvetica, sans-serif;
}

/*ulの・を削除する*/

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 270px 1000px 1fr;
}

/*左上の画像*/

.Title {
  grid-column: 1/2;
  grid-row: 1/6;
  border-bottom: solid 1px #e1e1e1;

  img {
    width: 150px;
    height: 100px;
    padding-top: 30px;
    padding-bottom: 25px;
  }
}

/*右上のロゴ*/

.title2 {
  grid-column: 2/4;
  border-left: solid 1px #e1e1e1;

  img {
    width: 100px;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    float: right;
  }
}

/*左横のサイドバー(ナビゲーション)*/

.side {
  grid-column: 1/2;
  padding: 10px 0 0;

  li {
    width: 200px;
    margin: 0 35px 0;
    border-bottom: solid 1px #e1e1e1;
    padding-bottom: 40px;

    a {
      display: block;
      font-size: 14px;
      color: #666666;

      &:hover {
        color: #00aae4;
      }
    }
  }
}

/*右の主要コンテンツ*/

.contents {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-row: 2/20;
  border-left: solid 1px #e1e1e1;
  grid-column: 2/4;
}

.sidesns {
  grid-column: 1/2;
  border-top: solid 1px #e1e1e1;
}

.share {
  height: 50px;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px #e1e1e1;

  li {
    display: inline-block;
    width: 89px;
    height: 50px;
    vertical-align: top;
    box-sizing: border-box;

    &:not(:last-child) {
      border-right: solid 1px #e1e1e1;
    }

    a {
      display: block;
      font-size: 16px;
      color: #808080;
      line-height: 50px;
      text-align: center;

      &:hover {
        color: #00aae4;
      }
    }
  }
}

.rank_article_right .sharecontents li a:hover, .header-single-bottom {
  color: #00aae4;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ranking {
  width: 100%;
  margin: 0;
  padding: 0;

  /*  border-top: solid 1px #e1e1e1; */
  border-bottom: solid 1px #e1e1e1;

  > li {
    width: 100%;
    height: 410px;
  }

  &:nth-child(odd) {
    background-color: #fafafa;
  }
}

.rank_article_left {
  float: left;
  width: 45%;
  height: 400px;
  margin: 55px 0 0 55px;
  box-sizing: border-box;
  overflow: hidden;

  a img {
    width: 550px;
    height: 300px;
  }
}

.rank_article_right {
  position: relative;
  width: 45%;
  height: 300px;
  margin: 0 0 0 55%;
  padding: 55px 45px 0 10px;
  box-sizing: border-box;

  h2 {
    margin: 10px 0 0;
    font-size: 24px;
    font-weight: 500;
    color: #333;
    line-height: 35px;
    clear: none;

    a {
      &:hover {
        color: #00aae4;
      }

      color: #333;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }

  p {
    margin-top: 9px;
    font-size: 12px;
    color: #777;
    line-height: 2.3;
    -webkit-transform: matrix(1.0000000295, 0, 0, 1, 0, 0);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
  }
}

.rank_article_bottom {
  position: absolute;
  bottom: -9px;
  width: calc(100% - 55px);
  padding-right: 20px;
}

.rank_article_right {
  .date {
    float: left;
    font-size: 10px;
    color: #bdbdbd;
    line-height: 28px;
  }

  .sharecontents {
    position: relative;
    right: 0;
    height: auto;
    border-bottom: none;
    text-align: right;

    li {
      width: auto;
      height: auto;
      border-right: none;
      display: inline;
      margin: 10px;

      a {
        width: 27px;
        color: #bbb;
        line-height: normal;
        text-align: right;
      }
    }
  }
}

.pickup {
  grid-row: 20/30;
  grid-column: 2/3;
  border-right: solid 1px #e1e1e1;
  border-left: solid 1px #e1e1e1;
  box-sizing: border-box;
}

.Pickuptitle {
  margin: 16px 50px 0;
  border-bottom: solid 2px black;
  padding-bottom: 20px 0;
  font-size: 12px;
  color: #333;
}

.pickup_article_all {
  padding-top: 20px;
  border-bottom: solid 1px #e1e1e1;

  .pickup_article:nth-child(1) {
    border-top: solid 1px #e1e1e1;
    padding-top: 20px;
  }
}

.pickup_article {
  margin: 44px 50px 0;
}

.pickup_article_left {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  height: 92px;
  overflow: hidden;
}

.pickup_article_right {
  height: 108px;
  margin: 17px 0 17px 22%;
  padding: 0;

  .date {
    display: block;
    font-size: 9px;
    color: #333;
  }
}

.pickup_article_title a {
  width: 100%;
  height: 44px;
  margin: 12px 0 6px;
  font-size: 10px;
  color: #333;
  line-height: 1.7;
  overflow: hidden;

  &:hover {
    color: #00aae4;
  }
}

.sns {
  grid-row: 20/30;
  grid-column: 3/4;
  border-bottom: solid 1px #e1e1e1;
}

.footer {
  grid-column: 2/4;
  grid-row: 30/31;
  border-left: solid 1px #e1e1e1;
  background-color: #333;

  span {
    color: white;
    float: left;
    padding: 10px;
    font-size: 6px;
  }

  a {
    color: white;
    float: right;
    padding: 10px;
    font-size: 6px;
  }
}

@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
}